:root {
    --clr-gray-1: hsl(0, 0%, 98%);
    --clr-gray-2: hsl(13, 100%, 96%);
    --clr-gray-3: hsl(227, 12%, 61%);
    --clr-gray-4: hsl(228, 39%, 23%);
    --clr-gray-5: hsl(233, 12%, 13%);
    --clr-orange: hsl(12, 88%, 59%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* Global Start */
.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}
.heading-primary {
    font-size: 3rem;
    line-height: 1.2;
    color: var(--clr-gray-5);
    margin-bottom: 1.5rem;
}
.heading-secondary {
    color: var(--clr-gray-5);
    line-height: 1.2;
    margin-bottom: 1.5rem;
}
.text {
    margin-bottom: 1.5rem;
}
.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 200px;
    box-shadow: 0 5px 10px var(--clr-orange);
    background-color: var(--clr-orange);
    color: var(--clr-gray-1);
}
.btn-white {
    color: var(--clr-orange);
    background-color: var(--clr-gray-1);
}
/* Global End */
/* Header Start */
.header {
    position: relative;
    height: 100vh;
}
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}
.header-info {
}
.header-image {
}
/* Header end */
