:root {
    --clr-gray-1: hsl(0, 0%, 98%);
    --clr-gray-2: hsl(13, 100%, 96%);
    --clr-gray-3: hsl(227, 12%, 61%);
    --clr-gray-4: hsl(228, 39%, 23%);
    --clr-gray-5: hsl(233, 12%, 13%);
    --clr-orange: #f25f3a;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}
body {
    overflow-x: hidden;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* Global Start */
.container {
    width: 1080px;
    max-width: 90%;
    margin: 0 auto;
}
.heading-primary {
    font-size: 3rem;
    line-height: 1.2;
    color: var(--clr-gray-4);
    margin-bottom: 2rem;
}
.heading-secondary {
    color: var(--clr-gray-4);
    line-height: 1.2;
    margin-bottom: 2rem;
    font-size: 2.2rem;
}
.heading-tertiary {
    color: var(--clr-gray-4);
    font-size: 1rem;
}
.text {
    margin-bottom: 2rem;
    color: var(--clr-gray-3);
    line-height: 1.6;
}
.text-white {
    color: #fff;
    margin-bottom: 0;
}
.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 200px;
    box-shadow: 0 5px 10px hsl(12, 88%, 59%, 0.3);
    background-color: var(--clr-orange);
    font-size: 0.75rem;
    color: var(--clr-gray-1);
    border: none;
    cursor: pointer;
    transition: 0.2s all;
}
.btn:hover {
    opacity: 0.75;
}
.btn-white {
    color: var(--clr-orange);
    background-color: var(--clr-gray-1);
}
.btn-white:hover {
    opacity: 1;
    color: hsl(12, 88%, 59%, 0.6);
}
/* Global End */
/* Header Start */
/* Navbar-start */
.navbar {
    position: relative;
    z-index: 50;
    height: 8rem;
}
.nav-container {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.nav-menu {
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav-item {
    display: inline-block;
}
.nav-link {
    color: var(--clr-gray-4);
    font-size: 0.875rem;
    font-weight: 500;
    transition: 0.2s all;
}
.nav-link:hover {
    opacity: 0.6;
}
.nav-toggler {
    display: none;
}
/* Navbar-End */
.header {
    position: relative;
    height: 100vh;
}
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.header-info {
    padding: 6rem 0 0 0;
}
.header-text {
    max-width: 65%;
}
.header-image {
    position: relative;
}
.header-image img {
    width: 100%;
    position: absolute;
}
.header-image .header-illustration {
    top: 30px;
}
.header-image .header-pattern {
    top: -200px;
    right: -200px;
    width: 125%;
}
/* Header end */
/* Features Start  */
.features-section {
    padding: 4rem 0;
}
.features-container {
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: space-between;
}
.features-info {
}
.features-list {
}
.feature {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.features-text {
    max-width: 350px;
}
.feature-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.feature-num {
    color: var(--clr-gray-1);
    background-color: var(--clr-orange);
    padding: 0.6rem 1.5rem;
    border-radius: 200px;
    font-weight: 500;
    width: 68px;
}
.feature-body {
    padding-left: 5.75rem;
}
/* Features End  */
/* Testimonials Start  */
.testimonials-section {
    padding: 4rem 0 10rem;
    text-align: center;
    position: relative;
}
.testimonial-pattern {
    position: absolute;
    top: -300px;
    left: -550px;
    width: 60%;
    z-index: -1;
}
.slider {
    display: grid;
    grid-template-columns: repeat(4, 33.33%);
    gap: 3%;
    margin-top: 6rem;
    margin-left: -6%;
    margin-bottom: 2rem;
    position: relative;
    height: 240px;
}
.slide {
    position: absolute;
    height: 210px;
    width: 33.333%;
    text-align: center;
    padding: 0 2rem;
    transition: 0.2s all;
    background-color: var(--clr-gray-1);
}
.active-slide {
    left: 53.333%;
    transform: translateX(-50%);
}
.next-slide {
    left: 88.666%;
    transform: translateX(-50%);
}

.prev-slide {
    left: 0;
}
.slide-invisible {
    left: 124%;
    transform: translateX(-50%);
    opacity: 0;
    transition: none;
}
.slide-img {
    width: 75px;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: -37.5px;
}
.slide-heading {
    margin-bottom: 1.5rem;
}
/* Testimonials End  */

/* Simplify Start */
.simplify-section {
    background-color: var(--clr-orange);
    padding: 4rem 0;
    background-image: url("images/bg-simplify-section-desktop.svg");
    background-size: cover;
    background-position: center;
}
.simplify-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.simplify-heading {
    max-width: 480px;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
}
/* Simplify End */
/* Footer Start */
.footer {
    background-color: var(--clr-gray-5);
    padding: 4rem 0;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.logo {
    font-size: 1.75rem;
    color: #fff;
}
.social-icons {
    display: flex;
    gap: 0.75rem;
}
.social-icon {
    transition: 0.2s all;
}
.social-icon:hover {
    filter: brightness(0) saturate(100%) invert(67%) sepia(63%) saturate(6800%) hue-rotate(341deg)
        brightness(103%) contrast(90%);
}
.footer-links-container {
    display: flex;
    justify-content: space-around;
}
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.footer-link {
    color: var(--clr-gray-2);
    font-size: 0.8125rem;
    transition: 0.2s all;
}
.footer-link:hover {
    color: var(--clr-orange);
}
.copyrights {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    color: var(--clr-gray-3);
}
.footer-form {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-group span {
    color: #e02424;
    font-size: 0.75rem;
    margin-top: 6px;
    margin-left: 8px;
}
.footer-form input {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 500px;
}
.footer-form input:focus {
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.error input {
    border: 2px solid #e02424;
    color: #e02424;
}

.copyrights p {
    font-size: 0.75rem;
}
.mob-copyrights {
    display: none;
}
/* Footer End */

@media only screen and (max-width: 1000px) {
    html {
        font-size: 93.75%;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 93.75%;
    }
    /* Global Start */
    .heading-primary {
        font-size: 2.5rem;
    }
    /* Global End */
    /* Headert Start */
    /* Navbar Start  */
    .nav-menu {
        display: none;
    }
    .show {
        display: block;
    }
    .overlay {
        position: fixed;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
        z-index: 20;
    }
    .nav-list {
        background-color: #fff;
        position: absolute;
        width: 90%;
        left: 5%;
        top: 8rem;
        z-index: 50;
        flex-direction: column;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 3rem;
    }
    .nav-link {
        color: var(--clr-gray-5);
        font-weight: 700;
    }
    .navbar .btn {
        display: none;
    }
    .nav-toggler {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 50;
    }
    .nav-toggler img {
        display: none;
    }

    .nav-toggler .show {
        display: block;
    }
    /* Navbar End */
    .header-info {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .header-text {
        max-width: 80%;
    }
    /* Headert End */
}

@media only screen and (max-width: 760px) {
    /* Global Start  */
    .btn {
        font-size: 1rem;
    }
    /* Global End  */
    /*  Header Start*/
    .header {
        height: auto;
    }
    .header-content {
        grid-template-columns: 1fr;
    }
    .header-image {
        order: -1;
        height: 70vw;
    }
    .header-image .header-illustration {
        width: 100%;
        top: 0;
    }
    .header-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header-text {
        max-width: 100%;
    }
    /*  Header Start*/

    /* Features Start  */
    .features-container {
        grid-template-columns: 1fr;
    }
    .features-info {
        text-align: center;
    }
    .feature-num {
        width: 62px;
    }
    .feature-body {
        padding: 0;
    }
    /* Features End */

    /* Testimonials Start */
    .testimonials-section {
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 4rem;
    }
    .slider {
        grid-template-columns: 1fr;
        margin-left: 0;
        margin-bottom: 0;
    }
    .slide {
        width: 100%;
        background-color: transparent;
        left: 0;
        padding: 0;
    }
    .active-slide {
        transform: translateX(0);
    }
    .prev-slide {
        transform: translateX(-104%);
    }
    .next-slide {
        transform: translateX(107%);
    }
    .slide-invisible {
        transform: translateX(107%);
    }
    .slider-circles {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .slider-circle {
        width: 10px;
        height: 10px;
        border: 1px solid var(--clr-orange);
        border-radius: 50%;
        cursor: pointer;
    }
    .active-circle {
        background-color: var(--clr-orange);
    }
    /* Testimonials End */
    /* Simplify Start */
    .simplify-section {
        padding: 6rem 0;
    }
    .simplify-container {
        text-align: center;
        flex-direction: column;
        gap: 2rem;
    }
    /* Simplify End */
    /* Footer Start */
    .footer-container {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
    .copyrights {
        order: -1;
        margin-bottom: 1rem;
    }
    .copyrights p {
        display: none;
    }
    .footer-socials {
        align-items: center;
        order: 1;
        gap: 1rem;
        margin-top: 1.5rem;
    }
    .social-icons {
        gap: 1rem;
        order: -1;
    }
    .footer-links-container {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 4rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .mob-copyrights {
        order: 2;
        margin-top: 2rem;
        color: var(--clr-gray-3);
        font-size: 0.75rem;
    }
    /* Footer End */
}
